{% extends "base.html" %}

{% block header %}
	<h1>Index</h1>
	{% if g.user %}
		<a class="action" href="{{url_for('blog.create')}}">New</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% for p in posts %}
		<article>
			<header>
				<div>
					<h1>{{p["title"]}}</h1>
					<div class="about">by {{p["username"]}} on {{p["created"].strftime("%Y-%m-%d")}}
					</div>
				</div>
				{% if g.user["id"] == p["author_id"] %}
					<a class="action" href="{{url_for('blog.update',id=p['id'])}}">Edit</a>
				{% endif %}
			</header>
			
			<hr>
			<body>{{p["body"]}}</body>
		</article>
		
	{% endfor %}
{% endblock %}